$maxWidth: 1400px;
$minWidth: 300px;

//Colours
$black: #555555;
$darkGrey: #BBB;
$fontGrey: #898989;
$yellow: #FCB900;
$white: #fff;
$darkOrange: #F87351;
$orange1: #FF7733;
$lightOrange: #FFF6F2;
$fbColour: #4267B2;
$googleColour: #E5E5E5;
$lightBlue1: #f0f4ff;
$lightBlue2: #b9c9f7;

// new library colors
$coreOrange: #FD6642;
$coreOrangeOpac: #FFEFEC;
$orange: #FD7732;
$carnation: #FD4F56;
$blue: #588AEA;
$indigo: #B5CC18;
$lime: #05CE5A;
$coreBlack: #272727;
$coreGrey: #898989;
$mediumGrey: #a7a7a7;
$lightGrey: #CCCCCC;
$lightGrey1: #E6E6E6;
$lightGrey2: #eaeaea;
$lightGrey3: #FAFAFA;
$softGrey: #F4F4F4;
$softGrey2: #F7F7F7;
$softGrey3: #FAFAFA;
$white: #FFFFFF;
$gradientOrange1: #FF7733;
$gradientOrange2: #FF4F56;
$fadedCoreOrange: #FD66421A;

// badge colors
$lightPurple: #EFEFEF;
$purple: #7877ED;
$red: #ff4f56;
$lightPink: #FFE8E9;
$green: #05CE5A;
$lightGreen: #E4FCED;
$orange: #FFA838;
$lightOrange: #FFF2E2;
$lightOrangeRed: #FFF6F2;


// stamp colors
$lightGreen2: #dcf7d7;
$lightBlue: #e4eaf7;

// Success colour
$coreGreen: #20CE5A;
$mediumGreen: #20D054;
$softGreen: #E5FAEE;

//Error colour
$coreRed: #FF4F56;
$softRed: #FFE5E6;
$materialRed: #F44336;

//Default Font
$fontSize: 1rem;
$fontWeight: 500;
$fontFamily: "Gilroy Regular", sans-serif;


//material breakpoint
$large1: 1919px;
$large2: 1599px;
$medium1: 1439px;
$medium2: 1279px;
$small1: 1023px;
$small2: 959px;
$small3: 839px;
$small4: 719px;
$xsmall1: 599px;
$xsmall2: 479px;
$xsmall3: 399px;
$xsmall4: 359px;

//New breakpoint
//$small1: 459px;
//$small2: 599px;
//$small3: 799px;
//$medium1: 959px;
//$medium2: 1279px;
//$large1: 1919px;
