<app-header [role]="'student'"></app-header>
<div class="assignment-submit-individual-wrapper wrapper-padding">
  <h1 class="mb-3" *ngIf="assignment">{{assignment.name}}</h1>
  <h2 class="mb-3">Assignment Description</h2>
  <p class="mb-3" *ngIf="assignment">{{assignment.description}}</p>
  <h2 class="mb-3">Assignment Attachments</h2>
  <div *ngIf="assignment && assignment.instructor_attachment" >
    <a [href]="assignment.instructor_attachment">{{assignment.instructor_attachment_name}}</a>
  </div>
  <h2 class="mb-3">Assignment Submission</h2>

  <div class="form-group">
    <label>Attach File</label>
    <input #file type="file" class="form-control">
    <div *ngIf="assignmentSubmission && assignmentSubmission.student_attachment" class="form-text text-muted" >
      Previous Submission: <a [href]="assignmentSubmission.student_attachment">{{assignmentSubmission.student_attachment_name}}</a>
    </div>
  </div>
  <button *ngIf="assignment" class="btn btn-danger mr-4" (click)="onGoBackClick(assignment)">Go Back</button>
  <button *ngIf="assignment" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
  <app-confirm-modal (responseEmit)="onCloseModal($event)"></app-confirm-modal>
</div>
