<app-header [role]="'admin'"></app-header>
<div class="wages-view-wrapper wrapper-padding">
  <ng-container *ngIf="freelancerDocId">
    <app-wages-view-individual ></app-wages-view-individual>
  </ng-container>
  <ng-container *ngIf="!freelancerDocId">
    <h1 class="mb-3">Manage Freelancers</h1>
    <app-search-filter [filterActions] = "filterActions"></app-search-filter>
    <app-common-table [tableActions]="tableActions" [tableColumns]="tableColumns" [freelancers]="freelancers"></app-common-table>
    <div class="go-back-section" (click)="onGoBackClick()">
      <mat-icon class="mr-1">arrow_back</mat-icon>
      <span class="go-back-text">Back</span>
    </div>
  </ng-container>
</div>
