<div class="assignment-mark-individual-wrapper wrapper-padding">
  <h1 *ngIf="assignment && student" class="mb-3">Mark {{assignment.name}} for {{student.firstName + ' ' +student.lastName}}</h1>
  <!-- Harcoded assignment feedback attachment -->
  <div *ngIf="recorded" class="form-text mb-3" >
    Recorded file: <a [href]="instructorFeedbackAttachment">{{instructorFeedbackAttachmentName}}</a>
  </div>
  <button *ngIf="!isRecording" class="btn btn-success mr-3" (click)="onRecordClick()">{{recorded ? 'Record Again' : 'Record'}}</button>
  <button *ngIf="isRecording"  class="btn btn-danger mr-3" (click)="stopRecording()">Stop</button>
  <button *ngIf="!isRecording && recorded"  class="btn btn-secondary" (click)="submitFeedback()">Submit</button>


  <app-confirm-modal (responseEmit)="onCloseModal($event)" (feedbackEmit)="onFeedback($event)"></app-confirm-modal>
</div>
