<div class="service-form-wrapper ">
  <h1 class="mb-3" *ngIf="assignment">Edit {{assignment.name}}</h1>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input #name type="text" class="form-control" placeholder="Assignment-01" [value]="assignment ? assignment.name : ''">
<!--      <small class="form-text text-muted">Assignment's name</small>-->
    </div>
    <div class="form-group">
      <label>Due Datetime</label>
      <input #dueDateTime type="datetime-local" class="form-control" [value]="assignment ? (assignment.dueDatetime | date:'yyyy-MM-ddTHH:mm'): ''">
    </div>
    <div class="form-group">
      <label>Select School</label>
      <select #school class="form-control" [value]="assignment ? assignment.school : ''">
        <!-- Hardcoded -->
        <option>School 1</option>
        <option>School 2</option>
        <option>School 3</option>
        <option>School 4</option>
        <option>School 5</option>
      </select>
    </div>
    <div class="form-group">
      <label>Select Group</label>
      <select #group class="form-control" [value]="assignment ? assignment.group : ''">
        <!-- Hardcoded -->
        <option>Group 1</option>
        <option>Group 2</option>
        <option>Group 3</option>
        <option>Group 4</option>
        <option>Group 5</option>
      </select>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea #description type="text" class="form-control" [value]="assignment ? assignment.description : ''"></textarea>
    </div>
    <div class="form-group">
      <label>Attach File</label>
      <input #file type="file" class="form-control">
      <small *ngIf="assignment && assignment.instructor_attachment" class="form-text text-muted" >
        Currently uploaded in database: <a [href]="assignment.instructor_attachment">{{assignment.instructor_attachment_name}}</a>
      </small>
    </div>
    <button class="btn btn-danger mr-4" (click)="confirmModalComponent.open
  ('Discard Changes', 'Are you sure you want to discard the changes made?', ['close', 'discard'])">Discard Changes</button>
    <button *ngIf="!assignment" class="btn btn-primary" (click)="onClick()">Create</button>
    <button *ngIf="assignment" class="btn btn-primary" (click)="onClick()">Update</button>

  </form>

  <app-confirm-modal (responseEmit)="onCloseModal($event)"></app-confirm-modal>

</div>
